@import '../semantic-colors';

.label {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 55%;
  z-index: 1;
  text-align: center;
  color: $primary-color-2;
  font-weight: 700;

  &.h1 {
    font-size: 3.3125rem;
    line-height: 1.15em;
  }

  &.h2 {
    font-size: 1.6525rem;
    line-height: 1.5em;
  }

  &.h3 {
    font-size: 1.3rem;
    line-height: 1.4em;
  }
}