@import '../semantic-colors';

.label {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 55%;
  z-index: 9999;
  text-align: center;
  color: $primary-color-2;
  font-weight: 700;

  &.h1 {
    font-size: 64px;
  }

  &.h2 {
    font-size: 48px;
  }

  &.h3 {
    font-size: 24px;
  }
}