@import './colors';

$button-primary-color: $primary-color;
$button-primary-background-color: transparent;

$label-primary-color: $primary-color-2;

$link-primary-color: $primary-color;

$navigation-button-color: $primary-color-2;
$navigation-background-color: $primary-color-3;