@import './mixins/index';
@import './semantic-colors';
@import './atoms/button';

.container {
  background-color: red;
  @include respond-to("tablet") {
    background-color: yellow;
  }
  @include respond-to("desktop") {
    background-color: green;
  }
}

nav {
  position: relative;
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

