@import './mixins/index';
@import './semantic-colors';
@import './atoms/button';

.container {
  background-color: red;
  @include respond-to("tablet") {
    background-color: yellow;
  }
  @include respond-to("desktop") {
    background-color: green;
  }
}

nav {
  position: relative;
  display: flex;
  width: 100%;
}

a, a:active, a:visited {
  color: $link-primary-color;
  text-decoration: none;
}

*, ::after, ::before {
  box-sizing: border-box;
}
