@import '../mixins/respond-to';
@import '../semantic-colors';

.navigation {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1001;
  height: 100px;
  width: 100%;

  .button__burger {
    position: fixed;
    right: .5rem;
    top: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: $button-primary-background-color;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;

    .icon__line {
      position: relative;
      width: 22px;
      height: 2px;
      top: 0;
      vertical-align: middle;
      outline: 0;
      display: block;
      border-radius: 1px;
      background-color: $primary-color;

      &:nth-child(2) {
        margin-top: 4px;
      }
      &:nth-child(3) {
        margin-top: 4px;
        bottom: 0;
      }
    }

    @include respond-to("desktop") {
      display: none;
    }
  }
  ul {
    display: none;
    list-style: none;
    width: 100%;
    background-color: white;

    &.active {
      display: block;
    }

    @include respond-to("desktop") {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    li {
      text-transform: uppercase;
      line-height: 20px;
      padding: .25rem;

      a.navigation__link {
        padding: 1rem;
      }
    }
  }
}
