@import '../mixins/respond-to';
@import '../semantic-colors';

.navigation {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  padding: .5rem 1rem;
  background-color: $primary-color-3;
  color: $primary-color-2;

  &, .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
  }

  & > .container {
    height: 50px;
  }

  &__title {
    flex-basis: auto;
    flex-grow: 1;
    padding: 1rem 0;
    z-index: 3;
    background-color: $navigation-background-color;
    line-height: 18px;

    @include respond-to("desktop") {
      flex-grow: 0;
    }
  }

  &__list {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;

    /* prevents word overlap on transition */
    &::before {
      content: '';
      position: absolute;
      top: 50px;
      z-index: 1;
      width: 100%;
      height: 50px;
      background-color: $navigation-background-color;
      @include respond-to("desktop") {
        display: none;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -100px;
      left: 0;
      width: inherit;
      list-style: none;
      background-color: $navigation-background-color;
      transition: all .5s cubic-bezier(.685,.0473,.346,1);

      &.active {
        top: 100px;
      }

      @include respond-to("desktop") {
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        justify-content: right;
      }

      li {
        text-transform: uppercase;

        a.navigation__link {
          color: $navigation-button-color;
          padding: 1rem 2.5rem;
          display: inline-block;
          width: auto;
          line-height: 18px;
        }
      }
    }
  }

  .button__burger {
    right: .5rem;
    top: 1rem;
    padding: 0.25rem 0;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    z-index: 1002;
    background-color: transparent;

    .icon__line {
      position: relative;
      width: 22px;
      height: 2px;
      top: 0;
      vertical-align: middle;
      outline: 0;
      display: block;
      border-radius: 1px;
      background-color: $navigation-button-color;

      &:nth-child(2) {
        margin-top: 4px;
      }
      &:nth-child(3) {
        margin-top: 4px;
        bottom: 0;
      }
    }

    @include respond-to("desktop") {
      display: none;
    }
  }
}
